* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  display: grid;
  /* text-align: center; */
  place-items: center;
}

.card {
  height: 300px;
  width: 1000px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(162, 7, 7);
  margin: 20px;
  color: white;
  h1{
    text-align: center;
  }
  p{
    color: rgb(229, 229, 229);
  }
}


.navbar{
  text-align: center;
  color: white;
   height: 300px;
  width: 1000px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 20px;
  background-color: rgb(61, 23, 197);
   h1{
    text-align: center;
  }
}